/** Colors **/
$yellow: #ffe800;
$dark-gray: #333333;
$gray: #666666;
$light-gray: #999999;
$background: #eeeeee;
$light-blue: #3483fa;
$dark-blue: #3678dc;
$white: #ffffff;

/** Font Sizes **/

$text-xs: 12px;
$text-sm: 14px;
$text-md: 16px;
$text-lg: 18px;
$text-xl: 24px;
$text-2xl: 28px;
$text-3xl: 36px;
$text-4xl: 46px;

/** Spacing **/

$spacing-simple: 16px;
$spacing-double: 32px;

/** Border-radius **/

$rounded: 4px;
$rounded-xl: 10px;

/**  Sizings **/

$sz-large: 680px;
$sz-small: 180px;
