@import "../../assets/scss/globals";

.main-container {
  width: 80%;
  margin: 0 auto;
  background-color: $white;
  border-radius: $rounded;
}

@media screen and (max-width: 460px) {
  .main-container {
    width: 90%;
  }
}
